<body ng-app="app">
    <div class="">
      <a href="/">Log Out</a>
      <a href="/edit-profile/{{databoth.username}}">Edit Profile</a>
    </div>
    <div class="container toplevel">
      <div class="row col-sm-12">
        <div class="col-sm-3">
          <img style="height:200px;" src="/images/front-piano.jpg" alt="">
        </div>
        <div class="col-sm-9">
          <img style="height:200px;"src="/images/wooden-music-box.jpg" alt="">
        </div>
      </div>
    </div>
    <main>
      <div class="container biosongs">
        <div class="row col-sm-12">
          <div class="col-sm-3 bio" style="border:2px solid black;">
            <h3> Welcome, {{databoth.first_name}}</h3>
            <h4>Bio</h4>
            <p> {{databoth.bio}} </p>
            <h4>Favorite Genre</h4>
            <p>{{databoth.fav_genre}}</p>
            <h4>Biggest Musical Influences</h4>
            <p>{{databoth.influences}}
            <h4>Team</h4>
            <p>{{databoth.team}}</p>
          </div>
          <div class="col-sm-9 songs" style="border:2px solid black;">
            <div class="songtopbar">
              <h2> You've written {{songLen}} songs!</h2>
              <h2><button style="justify-content:flex-end;"><a href="/create-song/{{databoth.username}}">New Song</a></button></h2>
            </div>
            <div class="">
              <figure>
                SONG 1
                {{datasong.song_title}}
                <button class="play">Play</button>
              </figure>
              <figure>
                SONG 2
                {{datasongtwo.song_title}}
              </figure>
              <figure>
                SONG 3
                {{datasongthree.song_title}}
              </figure>
            </div>
          </div>
        </div>
      </div>
    </main>
    <prof></prof>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
    <script src="../routes/profile.js"></script>
    <script type="text/javascript" src="../modules/components/app.module.js"></script>
    <!-- <script src="../dependencies_two/jquery.min.js"></script>
    <script src="../routes/profile.js"></script>
    <script src="../dependencies_two/less.min.js"></script> -->














    <!-- <h1>Welcome Home</h1>
    {{msg}} -->
  </body>
