<body ng-app="app" class="pianobackdrop">
  <div>
    <div class="navbuttons">
      <a href="/edit-profile/{{databoth.username}}">Edit Profile</a>
      <a href="/">Log Out</a>
    </div>
    <div class="container toplevel" style="width:100%;">
      <div class="row col-sm-12" style="width:105.5%;">
        <div class="col-sm-3">
          <img src="/images/front-piano.jpg" alt="">
        </div>
        <div class="col-sm-9" style="margin-left:-3%;">
          <img  src="/images/wooden-music-box.jpg" alt="">
        </div>
      </div>
    </div>
    <main>
      <div class="container biosongs">
        <div class="row col-sm-12">
          <div class="col-sm-3 bio" style="border:2px solid black;">
            <h3 style="color:#000;"> Welcome, {{databoth.first_name}}</h3>
            <h4>Bio</h4>
            <p> {{databoth.bio}} </p>
            <h4>Favorite Genre</h4>
            <p>{{databoth.fav_genre}}</p>
            <h4>Biggest Musical Influences</h4>
            <p>{{databoth.influences}}
            <h4>Team</h4>
            <p>{{databoth.team}}</p>
          </div>
          <div class="col-sm-9 songs" style="border:2px solid black;">
            <div class="songtopbar">
              <h2> You've written {{songLen}} songs! -- Total Songs: {{songTotal}}</h2>
              <div class="newandpop">
                <h2><button style="justify-content:flex-end;"><a href="/create-song/{{databoth.username}}">New Song</a></button></h2>
                <h2><button style="justify-content:flex-end;"><a href="/create-popdrop/{{databoth.username}}">New Pop Drop</a></button></h2>
              </div>
            </div>
            {{#each allsongs}}
            <div class="allsongs">
              <figure >
                <div class="row col-sm-12" style="margin:10px 10px;border:2px solid black;">
                  <div class="col-sm-4">
                    <h4>{{this.song_title}}</h4>
                    By {{this.written_by}}
                    <song></song>
                    <button style="width:50%;background-color:purple;"><a style="color:#FFF;" href="/review-song/{{this.song_title}}">Review Song</a></button>
                  </div>
                  <div class="col-sm-4">

                    <ul style="list-style:none">
                      <h5>Verse One:</h5>
                      <li>{{this.line_one}}</li>
                      <li>{{this.line_two}}</li>
                      <li>{{this.line_three}}</li>
                      <li>{{this.line_four}}</li>
                    </ul>
                  </div>
                  <div class="col-sm-4">
                    <ul style="list-style:none">
                      <h5>Chorus One:</h5>
                      <li>{{this.chorus_line_one}}</li>
                      <li>{{this.chorus_line_two}}</li>
                      <li>{{this.chorus_line_three}}</li>
                      <li>{{this.chorus_line_four}}</li>
                    </ul>
                  </div>
                </div>
              </figure>
              {{/each}}
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script type="text/javascript" src="/components/app.module.js"></script>

</body>
