<body ng-app="sheetmusictable">
  <a class="" style="height:15px;" href="/profile/{{specificSong.written_by}}">Back to Profile</a>
  <div class="container">
    <div class="row col-sm-10">
      <div class="sheet">
        <div class="sheetheader">
          <header>
            <h1 class="cen">{{specificSong.song_title}}</h1>
          </header>
          <h3 class="cen">Written By {{specificSong.written_by}}</h3>
        </div>
        <div class="sheetlines">
          <sheet-table></sheet-table>
          <div class="horiz">
            <h4 class="col-sm-6">{{specificSong.line_one}},</h4>
            <h4 class="col-sm-6 pushover">{{specificSong.line_two}}</h4>
          </div>
          <br>
          <sheet-table></sheet-table>
          <div class="horiz">
            <h4 class="col-sm-6">{{specificSong.line_three}},</h4>
            <h4 class="col-sm-6 pushover">{{specificSong.line_four}}</h4>
          </div>
          <br>
          <sheet-table></sheet-table>
          <div class="horiz">
            <h4 class="col-sm-6">{{specificSong.chorus_line_one}},</h4>
            <h4 class="col-sm-6 pushover">{{specificSong.chorus_line_two}}</h4>
          </div>
          <br>
          <sheet-table></sheet-table>
          <div class="horiz">
            <h4 class="col-sm-6">{{specificSong.chorus_line_three}},</h4>
            <h4 class="col-sm-6 pushover">{{specificSong.chorus_line_four}}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <script type="text/javascript" src="/components/app.module.sheetmusic.js"></script>
</body>
