<body>
  <a class="" style="height:15px;" href="/profile/{{specificSong.written_by}}">Back to Profile</a>
  <div class="container">
    <div class="row col-sm-10">
      <div class="sheet">
        <div class="sheetheader">
          <header>
            <h1>{{specificSong.song_title}}</h1>
          </header>
          <h3>Written By {{specificSong.written_by}}</h3>
        </div>
        <div class="sheetlines">
          <table>
            <tr>
              <td>|</td>
            </tr>
            <tr>
              <td>|</td>
            </tr>
            <tr>
              <td>|</td>
            </tr>
            <tr>
              <td>|</td>
            </tr>
          </table>
          <h4>{{specificSong.line_one}},{{specificSong.line_two}}</h4>
          <br>
          <table>
            <tr>
              <td>|</td>
            </tr>
            <tr>
              <td>|</td>
            </tr>
            <tr>
              <td>|</td>
            </tr>
            <tr>
              <td>|</td>
            </tr>
          </table>
          <h4>{{specificSong.line_three}},{{specificSong.line_four}}</h4>
          <br>
          <table>
            <tr>
              <td>|</td>
            </tr>
            <tr>
              <td>|</td>
            </tr>
            <tr>
              <td>|</td>
            </tr>
            <tr>
              <td>|</td>
            </tr>
          </table>
          <h4>{{specificSong.chorus_line_one}},
          {{specificSong.chorus_line_two}}</h4>
          <br>
          <table>
            <tr>
              <td>|</td>
            </tr>
            <tr>
              <td>|</td>
            </tr>
            <tr>
              <td>|</td>
            </tr>
            <tr>
              <td>|</td>
            </tr>
          </table>
          <h4>{{specificSong.chorus_line_three}},{{specificSong.chorus_line_four}}</h4>
        </div>
      </div>
    </div>
  </div>
</body>
